/*! _variables.scss */

$color1: #212733 !default;
$color2: #39404d !default;
$color3: #D7DAE0 !default;
$color4: #f8f8f8 !default;
$color5: #565C66 !default;
$color6: #44c0f3 !default;
$color7: #81cabb !default;
$colorSuccess: #f98200 !default;
$colorDanger: #cc2929 !default;
